@font-face {
    font-family: 'Escafina Low';
    src: url('Escafina-Low.woff2') format('woff2'),
        url('Escafina-Low.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProspectusStd Lt';
    src: url('ProspectusStd-Lt.woff2') format('woff2'),
        url('ProspectusStd-Lt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'ProspectusStd';
    src: url('ProspectusStd-Bld.woff2') format('woff2'),
        url('ProspectusStd-Bld.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ProspectusStd Reg';
    src: url('ProspectusStd-Reg.woff2') format('woff2'),
        url('ProspectusStd-Reg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ProspectusStd Blk';
    src: url('ProspectusStd-Blk.woff2') format('woff2'),
        url('ProspectusStd-Blk.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'ProspectusStd SBd';
    src: url('ProspectusStd-SBd.woff2') format('woff2'),
        url('ProspectusStd-SBd.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}


@font-face {
    font-family: 'ProspectusStd Thn';
    src: url('ProspectusStd-Thn.woff2') format('woff2'),
        url('ProspectusStd-Thn.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

