@font-face {
    font-family: 'Escafina Low';
    src: url('Escafina-Low.woff2') format('woff2'),
        url('Escafina-Low.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Edmondsans';
    src: url('Edmondsans-Medium.woff2') format('woff2'),
        url('Edmondsans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Edmondsans';
    src: url('Edmondsans-Bold.woff2') format('woff2'),
        url('Edmondsans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Edmondsans';
    src: url('Edmondsans-Regular.woff2') format('woff2'),
        url('Edmondsans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

