/* yellow: #dbb13b, seafoam: #56bda2, lightblue: #2494a2, blue: #304b78, darkblue: #2d325a, navy: #0a0e29 */
 

body {
  background: #e6ffff;
}

.App {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}
