/* yellow: #dbb13b, seafoam: #56bda2, lightblue: #2494a2, blue: #304b78, darkblue: #2d325a, navy: #0a0e29 */
 

body {
  background: #e6ffff;
}

.App {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

.App-header {
  background-color: #2d325a;
  margin: 0;
  height: 280px;
  width: 100%;
}

.App-title {
  font-family: 'Escafina Low';
  font-size: 108px;
  line-height: 64px;
  padding: 48px 0 0 0;
  margin: 0;
  overflow-wrap: break-word;
}

.App-title--gold {
  color: #dbb13b;
}

.App-title--seafoam {
  color: #56bda2;
}

.App-title--babyblue {
  color: #2494a2;
}

.App-logo {
  width: 100%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-layer {
  /* position: fixed; */
}

.App-food {
  animation: App-logo-spin infinite 5s linear;
  position: absolute;
  height: 100px;
  left: 300px;
  top: 400px;
}
