@keyframes Food-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Food {
  position: absolute;
  height: 0;
  width: 0;
  z-index: 9999;
}

.Food-img {
  animation: Food-spin infinite 5s linear;
}

.Food-points {
  color: #f0006f;
  font-weight: 900;
  font-size: 18px;
  position: absolute;
  left: 85px;
  top: 100px
}