@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-layer {
  /* position: fixed; */
}

.App-food {
  animation: App-logo-spin infinite 5s linear;
  position: absolute;
  height: 100px;
  left: 300px;
  top: 400px;
}